
@keyframes fade-in--left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  70%{
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
  }

  @keyframes fade-out--left {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    30%{
      opacity: 0;
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes fade-in--right {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    70%{
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes fade-out--right {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    50%{
      opacity: 0;
    }
    100% {
      transform: translateX(100%);
    }
  }

